/*navigation & fist section*/
.items{
    list-style: none;
    float: left;
    padding: 20px;
    
}
.list{
    margin-left: 850px;
}

.firstcontainer h1{
    font-size: 50px;
}
.coloringwords{
    color: orangered
}
.firstcontainer{
    width: 40%;
    margin: 6%;
    float: left;

}
#firstpro{
    width: 400px;
    margin-top: 0px;
}
.firstbtn{
    padding: 20px 35px;
    background-image: linear-gradient(rgb(226, 71, 15),orangered);
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
}
.firstbtn a{
    color: white;
    text-decoration: none;
}

/*second section*/
#secondsec{
    width: 400px;
    margin-top: 0px;
}
.secondcontainer{
    width: 40%;
    margin: 5%;
    float: left;
}
.secondcontainer h1{
    font-size: 50px;
}

.secondbtn a{
    color: white;
    text-decoration: none;
}
.secondbtn{
    padding: 20px 35px;
    background-image: linear-gradient(rgb(226, 71, 15),orangered);
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
}
#secondpro{
    width: 400px;
    margin-top: 0px;   
}